$green: #06D6A0;
$blue: #1B9AAA;
$pink: #EF476F;
$mustard: #FFC43D;
$vanilla: #F8FFE5;


$bp-1: 450px;
$bp-2: 900px;
$bp-3: 1800px;


/**
 *
 	@media only screen and (max-width: $bp-1) {
		display: block;
	}

	@media only screen and (max-width: $bp-2) {
		padding: 20px 40px;
	}
*/
