/**
 * Styling for flash flash-messages and notifications.
 */


$colour-success: #5cb85c;
$colour-warning: $pink;
$colour-information: $mustard;

.flash-message {
  padding: 12px 16px;
  position: relative;
  border-radius: 8px;
  margin-bottom: 28px;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.flash-message--success {
  background: lighten($colour-success, 30%);
  color: darken($colour-success, 30%);
}

.flash-message--warning {
  background: $colour-warning;
  color: #fff;
  border: none;
  font-size: 1.3em;
}

.flash-message--information {
  background: $colour-information;
  color: #fff;
}

.flash-message__header {
	display: block;
	margin-bottom: 6px;
}

.flash-message__heading {
	font-size: 1.25em;
}

.flash-message__message {
  display: block;
  float: left;
  margin-right: 10px;
}

.flash-message__buttons {
  display: block;
  float: right;

  button {
    cursor: pointer;
  }
}

.flash-message__action-close {
	display: block;
	position: absolute;
	top: 12px;
	right: 12px;
}
